/Rectangulo Asteriscos/nbproject/private/
/Rectangulo Asteriscos/build/
/Rombo Asteriscos/nbproject/private/
/Rombo Asteriscos/build/
/Flecha Asteriscos/nbproject/private/
/Flecha Asteriscos/build/
/Ejercicio de Arreglo/nbproject/private/
/Ejercicio de Arreglo/build/
/Ejercicio Arreglos 2/nbproject/private/
/Ejercicio Arreglos 2/build/
/Ejercicio Arreglo 3/nbproject/private/
/Ejercicio Arreglo 3/build/
/Factorial/nbproject/private/
/Factorial/build/
/CalculadoraSimple/nbproject/private/
/CalculadoraSimple/build/
/justificantes/nbproject/private/
/justificantes/build/
